<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.issohadmin.assetsrequest.mapper.IssohAssetsRequestDetailMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  issoh_assets_request_detail 
		WHERE
			 issoh_assets_request_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.issohadmin.assetsrequest.entity.IssohAssetsRequestDetail">
		SELECT * 
		FROM  issoh_assets_request_detail
		WHERE
			 issoh_assets_request_id = #{mainId} 	</select>
</mapper>
