<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.issohadmin.member.mapper.IssohMemberMapper">


    <select id="mySelectPage" resultType="org.jeecg.modules.issohadmin.member.vo.IssohMemberVo">

        select a.*,
        b.name as company_name

        from issoh_member a
        left join issoh_company b on a.company_id = b.id

        where 1=1

        <if test="extraParam.realname != null ">
            and a.realname like concat('%', #{extraParam.realname} ,'%')
        </if>
        <if test="extraParam.companyName != null and extraParam.companyName != '' ">
            and b.name like concat('%', #{extraParam.companyName} ,'%')
        </if>


        ${ew.customSqlSegment}


    </select>

</mapper>